@import '../../App.scss';

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #204770, #f3876d);
  position: relative;
  overflow: hidden;

  .textWrapper {
    max-width: 1300px;
    height: 100%;
    margin: auto;

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .heroText {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      position: absolute;
      z-index: 2;
      margin-left: 20px;

      @include mobile {
        width: 100%;
        height: 50%;
        align-items: center;
        text-align: center;
      }

      @include tablet {
        width: 100%;
        align-items: center;
        text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
      }

      h2 {
        font-size: 3rem;
        color: #78cbc1;
        letter-spacing: 7px;
      }

      h1 {
        font-size: 6rem;

        @include mobile {
          font-size: 4rem;
        }

        @include tablet {
          width: 100%;
          text-align: center;
        }
      }

      a {
        display: inline-block;
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        margin-right: 20px;
        color: white;
        background-color: #9b5974;
        cursor: pointer;
        font-weight: 500;
      }

      img {
        width: 50px;
      }
    }
  }

  .movingText1 {
    position: absolute;
    top: -125px;
    font-size: 50vh;
    white-space: nowrap;
    color: rgba(64, 59, 98, 0.25);
    font-weight: 800;
    width: 50%;

    @include mobile {
      color: rgba(42, 33, 104, 0.5);
    }
  }

  .movingText2 {
    position: absolute;
    bottom: -125px;
    font-size: 50vh;
    white-space: nowrap;
    color: rgba(64, 59, 98, 0.25);
    font-weight: 800;
    width: 50%;

    @include mobile {
      color: rgba(42, 33, 104, 0.5);
    }
  }

  .heroImg {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      width: 100%;
      height: 50%;
      top: unset;
      bottom: 0;
      right: 0;
    }

    img {
      height: 100%;
    }
  }
}
